<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{{ title }}</title>
</head>
<body>
    <header class="page-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div class="page-header-logo-and-name">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="page-header-logo">
                        <div class="page-header-app-name">PyMessages</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="page-main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-footer-nav-block">
                        <div class="page-footer-languages-wrapper">
                            <!-- TODO Удалить или доделать
                            Блок смены текста. Навряд ли успеем
                            реализовать эту самую смену, так что позже лучше
                            его закомментировать -->
                            <ul class="page-footer-languages-list page-footer-links">
                                <li class="page-footer-link-elem">
                                    <a href="#" class="page-footer-link">Русский</a>
                                </li>
                                <li class="page-footer-link-elem">
                                    <a href="#" class="page-footer-link">Тоже русский</a>
                                </li>
                            </ul>
                        </div>
                        <hr class="page-footer-languages-hr-links">
                        <div class="page-footer-links-wrapper">
                            <nav>
                                <ul class="page-footer-nav-links-list page-footer-links">
                                    <!-- TODO Вставить реальные ссылки -->
                                    <li class="page-footer-link-elem">
                                        <a href="#" class="page-footer-link">О нас</a>
                                    </li>
                                    <li class="page-footer-link-elem">
                                        <a href="#" class="page-footer-link">Справка</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="page-footer-app-name">
                            PyMessages, 2020
                        </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>